*{
    box-sizing: border-box;
}
.buttons{
    margin: 20px auto;
}
.canvas{
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    border: 10px solid #000000;
}

.row{
    display: flex;
    flex: 1;
}

.column{
    border: 1px solid rgb(0, 0, 0);
    flex:1;
}
 
.animate {
    animation: mymove 1s linear none;
  }
  
@keyframes mymove{
    from{background-color: #0000009b;}
    to {background-color: #ffffff;}
}